<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>比特币地址跟踪</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        .bold{
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <p>比特币地址跟踪</p>
                </a>
            </div>
        </div>
    </nav>

    {{range $i, $iterm := .str}}
        {{$elem := (index $.lists $iterm)}}
        <div class="panel panel-default">
        {{$add := (index $elem 0)}}
            <div class="panel-heading"><a href="{{$add.AdPrefix}}{{$iterm}}" target="_blank">{{$iterm}}</a><span class="
            {{if eq $add.Type "BTC"}}
                text-primary bold
                {{else}}
                text-success bold
                {{end}}
            " style="float: right;">{{$add.Type}}</span></div>
            <div class="panel-body">
                <ul class="list-group">
                    {{range $elem}}
                        <li class="list-group-item"><a style="width: 600px;display: inline-block;
                            {{if .Updated}}
                                color: #ff0000;
                            {{end}}
                            " href="{{.TxPrefix}}{{.TxID}}" target="_blank">{{.TxID}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        {{if .IsIN}}
                            class="text-success"
                        {{else}}
                            class="text-danger"
                        {{end}}
                        >${{.Amount}}</span><span style="float: right;">{{.Date}}</span></li>
                    {{end}}
                </ul>
            </div>
        </div>
    {{end}}

    <footer class="page-footer font-small blue-grey lighten-5 pt-0">

        <div style="background-color: #21d192;">
            <div class="container">
                <!--Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!--Grid column-->
                    <div class="col-12 col-md-5 text-left mb-4 mb-md-0">
                        <h6 class="mb-0 white-text text-md-left">
                            <strong>Footer Template</strong>
                        </h6>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-12 col-md-7 text-center text-md-right">
                        <!--Facebook-->
                        <a class="fb-ic ml-0">
                            <i class="fa fa-facebook white-text mr-lg-4"> </i>
                        </a>
                        <!--Twitter-->
                        <a class="tw-ic">
                            <i class="fa fa-twitter white-text mr-lg-4"> </i>
                        </a>
                        <!--Google +-->
                        <a class="gplus-ic">
                            <i class="fa fa-google-plus white-text mr-lg-4"> </i>
                        </a>
                        <!--Linkedin-->
                        <a class="li-ic">
                            <i class="fa fa-linkedin white-text mr-lg-4"> </i>
                        </a>
                        <!--Instagram-->
                        <a class="ins-ic">
                            <i class="fa fa-instagram white-text mr-lg-4"> </i>
                        </a>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
            </div>
        </div>

        <!--Footer Links-->
        <div class="container mt-5 mb-4 text-center text-md-left">
            <div class="row mt-3">

                <!--First column-->
                <div class="col-md-3 col-lg-4 col-xl-3 mb-4 dark-grey-text">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Company name</strong>
                    </h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                        amet, consectetur adipisicing elit.</p>
                </div>
                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Products</strong>
                    </h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!" class="dark-grey-text">MDBootstrap</a>
                    </p>
                    <p>
                        <a href="#!" class="dark-grey-text">MDWordPress</a>
                    </p>
                    <p>
                        <a href="#!" class="dark-grey-text">BrandFlow</a>
                    </p>
                    <p>
                        <a href="#!" class="dark-grey-text">Bootstrap Angular</a>
                    </p>
                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 dark-grey-text">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Useful links</strong>
                    </h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="#!" class="dark-grey-text">Your Account</a>
                    </p>
                    <p>
                        <a href="#!" class="dark-grey-text">Become an Affiliate</a>
                    </p>
                    <p>
                        <a href="#!" class="dark-grey-text">Shipping Rates</a>
                    </p>
                    <p>
                        <a href="#!" class="dark-grey-text">Help</a>
                    </p>
                </div>
                <!--/.Third column-->

                <!--Fourth column-->
                <div class="col-md-4 col-lg-3 col-xl-3 dark-grey-text">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Contact</strong>
                    </h6>
                    <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> info@example.com</p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                    <p>
                        <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
                </div>
                <!--/.Fourth column-->

            </div>
        </div>
        <!--/.Footer Links-->

        <!-- Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="https://github.com/qshuai/WatchBitcoinAddress">
                <strong> https://github.com/qshuai/WatchBitcoinAddress</strong>
            </a>
        </div>
        <!--/.Copyright -->

    </footer>

</div>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
