<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>比特币地址跟踪</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <style>
        .bold{
            font-weight: bold;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="">
                    <p>比特币地址跟踪</p>
                </a>
            </div>
        </div>
    </nav>

    {{range $i, $iterm := .str}}
        {{$elem := (index $.lists $iterm)}}
        <div class="panel panel-default">
        {{$add := (index $elem 0)}}
            <div class="panel-heading"><a href="{{$add.AdPrefix}}{{$iterm}}" target="_blank">{{$iterm}}</a><span class="
            {{if eq $add.Type "BTC"}}
                text-primary bold
                {{else}}
                text-success bold
                {{end}}
            " style="float: right;">{{$add.Type}}</span></div>
            <div class="panel-body">
                <ul class="list-group">
                    {{range $elem}}
                        <li class="list-group-item"><a style="width: 600px;display: inline-block;
                            {{if .Updated}}
                                color: #ff0000;
                            {{end}}
                            " href="{{.TxPrefix}}{{.TxID}}" target="_blank">{{.TxID}}</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                        {{if .IsIN}}
                            class="text-success"
                        {{else}}
                            class="text-danger"
                        {{end}}
                        >${{.Amount}}</span><span style="float: right;">{{.Date}}</span></li>
                    {{end}}
                </ul>
            </div>
        </div>
    {{end}}

    <div style="height: 55px;"></div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p style="padding-top: 10px; text-align: center"> Github: <a href="https://github.com/qshuai/btctracker" target="_blank">https://github.com/qshuai/btctracker</a></p>
        </div>
    </nav>
</div>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
